@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title> hepta | desafio técnico otávio gomes</title>
    <link rel="shortcut icon" href="https://www.hepta.com.br/assets/favicon.ico">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15999" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.min.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.min.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- END: Custom CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/css-loading-spinners.css" />
    <link rel="stylesheet" type="text/css" href="/css/submit-progress.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme-dist/23.1.6/css/dx.softblue.compact.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <!-- END: Custom CSS-->
    <!-- BEGIN: Vendor JS-->
    <script src="/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme-dist/23.1.6/css/dx.softblue.compact.css" rel="stylesheet">
    <script src="/js/dx.all.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.1.3/js/localization/dx.messages.pt.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/message.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/number.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/currency.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/date.min.js"></script>

    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/app-assets/vendors/js/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var SPMaskBehavior = function (val) { return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009'; };
        var spOptions = { onKeyPress: function (val, e, field, options) { field.mask(SPMaskBehavior.apply({}, arguments), options); } };
        function mostrarWait() { $('.spinner-bg').css('display', 'block'); }
        function fecharWait() { $('.spinner-bg').css('display', 'none'); }
        function DisplayProgressMessage(ctl, msg) {
            if ($('form')[0].checkValidity() == true) {
                $(ctl).empty();
                $(ctl).append(msg);
                $(ctl).attr('disabled', true);
                $(ctl).css('opacity', '0.5');
                $('.spinner-bg').css('display', 'grid');
                $('form')[0].submit();
            } return true;
        }
        function showNotification(mensagem, tipo, tempo, url) {
            window.setTimeout(function () { 
                DevExpress.ui.notify({ message: mensagem, width: 300, shading: true, position: "center" }, tipo, tempo);
                if (url != null) {
                    window.setTimeout(function () {
                        window.location.href = url;
                    }, tempo);
                }
            }, 700);
        }

        function msgAviso(msg) {
            window.setTimeout(function () {
                DevExpress.ui.notify({ message: msg, width: 300, shading: true, position: "center" }, 'success', 4000);
            }, 700);            
        }

        function msgErro(msg) {
            window.setTimeout(function () {
                DevExpress.ui.notify({ message: msg, width: 300, shading: true, position: "center" }, 'error', 4000);
            }, 700);
        }

        const formatDate = new Intl.DateTimeFormat('pt-BR').format;
        const formatCurrency = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format;
        const formatNumber = new Intl.NumberFormat('pt-BR', { style: 'decimal', currency: 'BRL', minimumFractionDigits: 2 }).format;
        DevExpress.localization.locale(navigator.language);
        DevExpress.config({ defaultCurrency: 'BRL', thousandSeparator: '.', fixedPoint: 2 });
    </script>
    <style>
        body {
            font-family: "Helvetica Neue";
            font-size: 12px;
        }

        .main-menu.menu-dark .navigation li a {
            color: #ffffff;
        }

            .main-menu.menu-dark .navigation li a.hover {
                color: #000;
            }

        .list-item .card-title {
            line-height: 16px !important;
        }

        .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
            height: 10px;
            padding: 5px 10px;
            font-size: 10px;
            border-radius: 3px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        @@media (min-width: 992px) and (max-width: 2199.98px) {
            .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
                padding-right: 8px !important;
                padding-left: 0px !important;
            }
        }

        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: .375rem .75rem;
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 500;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            border: 1px solid #00b500;
            border-radius: .25rem;
            height: 26px;
            background-color: #fff;
        }

        .required {
            font-size: 10px;
            color: #ff0000;
        }

        .btn-group-sm > .btn, .btn-sm {
            padding: .25rem .5rem;
            font-size: .775rem;
            line-height: 1.5;
            border-radius: .2rem;
        }

        form-control-sm {
            height: calc(1.575rem + 2px) !important;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        dd, h1, h2, h3, h4, h5, h6, label {
            margin-bottom: 0px;
            margin-top: .5rem;
        }

        .control-label {
            font-size: .875em !important;
            font-weight: 400 !important;
        }

        .modal-header {
            padding-left: 1vh;
            padding-right: 0.5vh;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
        }

            .modal-header .close {
                padding: 2.5vh 3vh 1vh 1vh !important;
            }

        .modal-title {
            font-size: 2vh !important;
        }

        .dx-datagrid-headers {
            padding-right: 0px;
            background: #f4f5fa !important;
            color: #fff !important;
            border-top-left-radius: 1vh;
            border-top-right-radius: 1vh;
        }

        html body .content .content-wrapper {
            padding: 1.1rem 1rem 1rem 1rem !important;
        }

        .dx-toast-message {
            font-size: 2vh;
            font-family: "Helvetica neue";
            font-weight: 400;
            color: #fff;
        }

        .navbar-header {
            overflow: hidden;
        }

        .header-navbar .navbar-header .navbar-brand .brand-logo {
            width: 30vh;
        }

        .dx-datagrid-nowrap, .dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
            color: #000 !important;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #00e9c8 !important;
            border-color: #00e9c5 !important;
        }

        .btn-outline-primary:hover {
            color: #fff;
            background-color: #00e9c8 !important;
            border-color: #00e9c5 !important;
        }

        .btn-outline-primary {
            border-color: #00b500;
        }

        .main-menu.menu-dark .navigation > li {
            font-size: 2vh !important;
        }

        .navigation, .navigation .navigation-header {
            font-family: "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
            font-weight: 400;
        }
    </style>
</head>

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <div class="spinner-bg" style="display:none">
        <div class="loader"></div>
    </div>
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="/">
                            <img class="brand-logo" src="https://www.hepta.com.br/assets/logo-hepta.svg" />
                        </a>
                    </li>
                    @*<li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i></a></li>
                        <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>*@
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item" style="display:flex">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="/Movimento" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700"> </span> hepta ( <small> administrador  </small> )</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="javascript:logout();"><i class="ft-power"></i> Logout </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="#"><i class="la la-power-off"></i><span class="menu-title" data-i18n="Dashboard"> SAIR </span></a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer footer-static footer-light navbar-border navbar-shadow"> hepta © @DateTime.Now.Year | direitos reservados  </footer>

    <script src="/app-assets/vendors/js/charts/chart.min.js"></script>
    <script src="/app-assets/vendors/js/charts/raphael-min.js"></script>
    <script src="/app-assets/vendors/js/charts/morris.min.js"></script>
    <script src="/app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js"></script>
    <script src="/app-assets/data/jvector/visitor-data.js"></script>
    <script src="/app-assets/js/core/app-menu.min.js"></script>
    <script src="/app-assets/js/core/app.min.js"></script>
    <script src="/app-assets/js/scripts/customizer.min.js"></script>
    <script src="/app-assets/js/scripts/footer.min.js"></script>
    <script src="/app-assets/js/scripts/pages/dashboard-sales.min.js"></script>
</body>
</html>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });    
</script>
@{
    string msgAviso = Context.Session.GetString("msgaviso");
    if (msgAviso != null)
    {
        <script>
            msgAviso('@Html.Raw(msgAviso)');
        </script>
        Context.Session.Remove("msgaviso");
    }
    
    string msgErro = Context.Session.GetString("msgerro");
    if (msgErro != null)
    {
        <script>
                msgErro('@Html.Raw(msgAviso)');
        </script>
        Context.Session.Remove("msgerro");
    }
}